.input-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 4px;
  border: #b20bd3;
  border-style: solid;
  border-width: 2px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: #0ccec4;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
}

.input-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btncontainer {
  padding: 5px;
  border: #000000;
  border-style: solid;
  border-width: 2px;
  display: flex; /* add this line to center the content */
  justify-content: center; /* add this line to center the content horizontally */
  align-items: center;
}
