.Btn {
  cursor: pointer;
  border: none;
  margin: 4px;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

.Btn:hover {
  background-color: #0ccec4;
  color: #fff;
}

.flex {
  display: flex;
}

.container {
  display: flex;
  gap: 4px;
}

.btn-container {
  border: 2px solid #333;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
