table,
th,
td {
  border: 1px solid;
}

.table-container {
  gap: 4px;
  border: 2px solid #1fcf4b;
  padding: 10px;
  margin: 10px;
  overflow: auto;
  height: 100%;
  width: auto;
  justify-content: space-around;
  align-items: center;
}

.flex {
  display: flex;
}
